// grid
$content-max: 1140px;

// colors
$white: #ffffff;
$black: #000000;

// font weights
$normal: 400;
$bold: 700;

// breakpoints
$break-xs: 375px;
$break-sm: 600px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

// media queries
$break-xs-up: "screen and (min-width: #{$break-xs})";
$break-sm-up: "screen and (min-width: #{$break-sm})";
$break-md-up: "screen and (min-width: #{$break-md})";
$break-lg-up: "screen and (min-width: #{$break-lg})";
$break-xl-up: "screen and (min-width: #{$break-xl})";

// usage:
// @media #{$break-md-up} {}