// breakpoints
$break-sm: 500px;
$break-md: 768px;
$break-lg: 1140px;

// brand colors
$blue: #001d48;
$powderBlue: #4280a5;

// greys
$white: #ffffff;
$grey: #727780;
$black: #000000;

// font weights
$light: 300;
$normal: 400;
$bold: 700;
$black: 900;

// transition
$transition: all 0.3s ease;

// main navigation padding
$nav-spacer: 30px;
